# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.pytest_cache/

# Environment
.env

# Sample files
sample pdfs/

# Node
frontend/node_modules/
frontend/dist/

# Docker volumes
mysql_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp